@import url(./mobile-menu.css);

*{
  margin: 0px;
  padding: 0px;
}

body{ 
    width: 100%;
    height:  100%;
    margin: 0 ;
    padding: 0 ;
  background: linear-gradient( 0deg, #10002B,#221241, #240046,#471876);
 }


main{
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
 
  
.corte{
  max-width: 100% ;
  min-width: 200px;

}
  .menuzinho{
   max-width: 100%;
   min-width: 220px;
    background-color: #121213;
    height: 100px;
    border-bottom: 3px solid #12091B;

}
ul{
  padding: 0px !important;
 } 


.logo{
  margin-left: 220px;
 
   float: left;
   margin-top: 12px;
   display: flex;
 
  }


.menu ul li {
  margin-top: 15px;
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  height: 54px;
 
  }

  .menu ul li:hover{ 
      border-bottom: 2px solid #a85eb4;
  }

  .menu ul li a:hover{
      color: #a85eb4;
      

  }

.menu ul li a {color:#ffffff ;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
}

.menu{ 
  width: 45%;
  margin-left: 40px;
  float: right;
  margin-top: 25px;

}


.menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    height: 54px;
    
    
   
    }

    .menu ul li:hover{ 
        border-bottom: 2px solid #a85eb4;
    }

    .menu ul li a:hover{
        color: #a85eb4;
        

    }

.menu ul li a {color:#ffffff ;
text-decoration: none;
font-size: 16px;
text-transform: uppercase;
}





/* aba home*/



.apresentaçao{
    height: 500px;
    max-width: 1180px ;
    min-width: 200px;
    
    margin-top: 80px;
    margin-bottom: 200px;
    
}


.typewriter{
    float: left;
    width: 30%;
   
 height: 400px;
 margin-top: 80px;
 margin-left: 30px;
 margin-bottom: 0px;

}


.lateral {
    margin-left: 90px;
    float: right;
    width: 45%;
}


.primeira{
    font-size: 30px;
    margin-top: 20px;
    color: #ffffff;;
}

.animaçao { 
  
  height: 75px;
    font-family: 'Bebas Neue';
    font-size: 65px;
	box-shadow: .1em 0 0 #fcffff;
	width: 22ch;
  overflow: hidden;
  color: #a85eb4;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end)
}

.descriçao{
   
    margin-top: 0;
    font-size: 30px;
    color: #ffffff;;

}

.box1{
  display: inline-block;
}

.linkcomeço{
    border: 3px solid #97dffc;
    border-radius: 10px;
    background: transparent;
  

}
.emailcomeço{
    margin-left: 25px;
    border: 3px solid #97dffc;
    border-radius: 10px;
    background: transparent;

}

.cont-inicio{
    float: left;

}

@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}


/* aba Sobre*/


.sobre1 {
    margin-top: 400px;
    height: 500px;
    flex-wrap: wrap;

}
.s1{
    font-size: 40px;
   color: #a85eb4;
  
   font-family: 'Bebas Neue';
   margin-left: 18px;
   


}
.sobre1{
    background: #ffffff09;
    border-radius: 25px;
    margin: 0 auto;
    /*background: #100E143d;*/
    max-width: 1180px;
   min-width: 100px;
    height: 400px;
    backdrop-filter:blur(15px);
    box-shadow: 5px 3px 7px 1px rgb(0, 0, 0);
   
}


.mostrador{

color: white;
font-family:'Bebas Neue';
font-size: 50px;


}

.Todosobre  {
    
    
    display: flex;
    max-width:1180px;
    min-width: 200px;
    height: 330px;
    margin: 0 auto;
  }
  
  .sobre-tudo {
    max-width: 200px;
    cursor: pointer;
    margin-top: 110px;
    margin-left: 50px;
    
  }
  


  .sobre-tudo ul {
    font-size: 75px;
    list-style: none;
    font-size: 19px;
    padding: 0;
  }
  
  .sobre-tudo ul li.active {
    background-color: #100E14;
    border-left: 2px solid #9FFF6F;
    font-weight: 600;
  }
  
  .sobre-tudo li {
    padding: 10px;
    text-align: center;
    border-left: 2px solid #100E14;
    transition: background-color 0.5s ease;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif 
  }
  
  .sobre-tudo ul li:hover {
    background-color: #272727;
  }
 

  .sobre-decr p {
    font-family: 'Inter', sans-serif;
font-size: 20px ;
    color: #ffffff;


  }

.sobre-tech2 {

    color: white;
}

  .sobre-decr {
    margin-top: 70px;
    width: 60%;
    margin-left: 5rem;
    position: relative;
    line-height: 1.5rem;
  }
  
  .sobre-decr section {
    display: none;
  }
  
  .sobre-decr section.active {
    display: block;
  }
  
  .sobre-decr section.active.show-right {
    animation: 0.5s forwards show-right;
  }
  
  .sobre-decr h2 {
    font-size: 40px;
    display: inline-block;
  }
  
  .sobre-decr span {
    font-size: 0.95rem;
    position: absolute;
    right: 0;
    top: 5px;
    font-weight: bold;
  }
  
  .sobre-tec{
    margin: 32px 0;
    font-size: 0.85rem;
    color: #a85eb4!important;
    font-weight: bold;
  }
  
  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }








/* Projetos*/


.coluna100{
    margin: 0 auto;
    margin-bottom: 400px;
    margin-top: 380px;
    flex-wrap: wrap;
}
.slideh1{
    font-size: 51px;
    color: #a85eb4 ;
    text-align: center;

    
}



button.slick-prev {
font-size: 0px;
border: none;
height: 52px;
width: 52px;
background-color: transparent;
position: absolute;
background-image: url(../imagem/seta\ voltar.png)  ;
top: 25%;
z-index: 9;
left: 0;
}

button.slick-next {

 font-size: 0px;
 border: none;
height: 52px;
width: 52px;
    background-color: transparent;
    position: absolute;
    background-image: url(../imagem/seta\ avançar.png)  ;
    top: 25%;
    z-index: 9;
    right: 0;
}


.slick-initialized{
     overflow: hidden;

}

.walpaper{
    
    margin: 0 auto;
    display: flex;
   max-width: 1180px;
  min-width: 380px;
  justify-content: center;

}



.walpaper .slide {
    transform: scale(0.6);
   
}

.walpaper .slide.slick-center{
    transform: scale(1);
   

}


.experiencias{
    max-width: 1180px;
    min-width: 320px;
    flex-wrap: wrap;
    height: 400px;
    border-radius: 25px;
    border: 3px solid back;
    box-shadow: 5px 3px 7px 1px rgb(0, 0, 0);
   
   
  }
.exp3{
      max-width: 328px;
      min-width: 70px;
      height: 267px;
      margin-left: 45px;
      margin-top: -30px;

}
  .fotoexp{
    margin-left: 40px;
   border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 3px 3px #9FFF6F;
    position: absolute;
   
  }
.exp{
    color: #a85eb4;
    text-align: center;
    font-size: 51px;
}
.exp2 p{
  max-width: 640px;
  min-width: 220px;
  font-size: 20px;
  height: 120px;
  float:right ;
  margin-right: 100px;
  margin-top: 20px;
  

    color: white;}

.academy{
  max-width: 340px;
  min-width: 120px;
  max-height: 275px;
  min-height: 160px;
  float:right;
  margin-top: 100px;
 
margin-right: -280px;
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 0px;
}
.listexp{ color: #9FFF6F;
  font-size: 18px;
  

}
.curriculo {
margin-top: 30px;
border-radius: 10px;
width: 125px;
height: 40px;
border: 3px solid #9FFF6F;

}
.curriculo img {
margin-top: 5px;
 }
 .curriculo h2{
  margin-top: -32px;
  margin-left: 34px;
  font-size: 19px;
  color: #ffffff;
 }

/* CARDS DO FINAL*/


.contatosfinal{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
max-width: 1180px;
min-width: 100px;


}
.container{

    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.container .card{

position: relative;
padding: 10px;
width: 250px;
background-color: #ffffff09;
backdrop-filter:blur(10px);
margin: 20px;
border: 1px solid black;
overflow: hidden;
border-radius: 20px;
transition: .5s;
text-align: center;}

.container .card img{
transition: 0.5s;
}

.container .card h1{
font-size: 32px;
}

.container .card .content{
    padding: 20px;
    text-align: center;

}

.container .card .content p{
color: #000000;
transition: 0.5s;
}

.container .card .content a {

position: relative;
display: inline-block;
padding: 10px 20px;
background-color: #000000;

color: #ffffff;
border-radius: 40px;
text-decoration: none;
transition: 0.5s;
outline: none;
margin-top: 20px;
}

.container .card:hover{

background-color: #520a643d;
backdrop-filter:blur(30px);
color: white;
margin-top: -30px;
box-shadow: 2px 20px 25px #9FFF6F;
border-color: #a85eb4;

}
.container .card:hover img{
    filter: invert(1);
}
.container .card:hover .content p {
    color: white;
}
.container .card:hover .content a {
    color: black;
    background-color: white;
}




/* RODA PÉ DO FINAL*/

.footer{
    background-color: #121213;
    width: 100%;
    height: 90px;
    margin-top: 150px;
 }

.contatos ul li  {
   margin-top: 25px;
  display: inline-block;
    list-style: none;
    align-items: center;
    margin-left: 5px;
    
    
}
    .contatos{
        float: right;
        width: 30%;
          }
         /* aNIMAÇÕES*/

      [data-anime] {
        opacity: 0;
        transition: 1s;
                }
   
           [data-anime="down"]{
        transform: translate3d( 0, -100%, 0);
         }
              [data-anime="left"]{
              transform: translate3d(-100%, 0, 0);
                 }
 
    [data-anime="right"]{
    transform: translate3d( 50px, 0, 0);
     }

    [data-anime="up"]{
    transform: translate3d( 0, 100px, 0);
}

      [data-anime="size"]{
    transform: translate3d( 0, 0, -100%);
      }

    [data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0 ,0);
    }

    
    
    
    @media (max-width: 1025px){
      .lateral{
        display: none;
      }
      .typewriter{
        width: 50%;
        justify-content: center;
      }
      .sobre1{
        width: 980px;
      }
      .logo{
        margin-left: 35px;
      }
    
        .fotoexp{
          width: 260px;
        }
      .exp2{
        margin-left: 350px;
      }
      .academy{
        margin-top: 130px;
      }

      
  }
  @media (max-width: 890px){

    .logo{
      margin-left: 4px;
    }


    .sobre1{
max-width: 840px;
min-width: 200px;

}
.coluna100{
  width: 840px;
  
}

.fotoexp{
  width: 240px;
  margin-left: -20px;
  margin-top: 30px;
}


.exp2{
  max-width: 480px;
  margin-left: 280px;
  
}
.academy{
  margin-top: 160px;
}

  }

@media (max-width: 769px){



.sobre1{
  width: 760px;
  height: 400px;
}
.coluna100{
  width: 740px;
  
}
.exp2 p {
  width: 320px;
}
.academy{
  margin-top: 160px;
}

}


@media (max-width: 500px){

  .typewriter{
    width: 460px;

  }
  .primeira{
    display: flex;
    justify-content: center;

  }
.animaçao{
font-size: 45px;
display: flex;
margin-left: 50px;
}
.descriçao{
display: flex;
justify-content: center;
}

.box1{
display: flex;
justify-content: center;
}

.sobre1{
background: #ffffff09;
border-radius: 25px;
margin: 0 auto;
width: 480px;
height: 600px;
backdrop-filter:blur(15px);
box-shadow: 5px 3px 7px 1px rgb(0, 0, 0);
 }

 .coluna100{

  width: 460px;
 }

 .experiencias{

  width: 460px;
  height:650px ;
 }
.fotoexp{
width: 230px;
margin-left: 110px;

}

.exp2 p {
width: 440px;
margin-top: 250px;
margin-right:-30px;
display: flex;
}
.academy{
margin-top: 00px;
margin-right: 0px;
width: 400px;

}
.curriculo{
margin-left: 60px;
}
.animaçao{
  width: 380px;
}
}
@media screen and (max-width:425px){
 
 

    .primeira{
      display: flex;
      justify-content: center;
      font-size: 25px;
  
    }
    .animaçao { 
      margin-left: 0;
      height: 35px;
        font-family: 'Bebas Neue';
        font-size: 35px;
      box-shadow: 2px 0 0 #fcffff;
      width: 22ch;
      overflow: hidden;
      color: #a85eb4;
      white-space: nowrap;
      animation: caret .5s step-end infinite alternate,
                 type 5s steps(23, end)
  }
  .descriçao{
  display: flex;
  justify-content: center;
  font-size: 25px;
  }
  
  .box1{
  display: flex;
  justify-content: center;
  }

  .sobre1{
    background: #ffffff09;
    border-radius: 25px;
    margin: 0 auto;
    width: 390px;
    height: 600px;
    backdrop-filter:blur(15px);
    box-shadow: 5px 3px 7px 1px rgb(0, 0, 0);}

  .sobre-tudo{
    margin-left: 6px;

  }
  .sobre-decr{
    margin-left: 7px;

  }

  .coluna100{
    width: 370px;
    margin-left: 0px;

  }
  .slideh1{
    margin-left: 50px;
   
  }
  .experiencias{
    width: 390px;
    
  }
.fotoexp{
  margin-left: 55px;
}
.exp2 p{
  width: 350px;
  margin: 0 auto;
  margin-top: 250px; 
}
.academy{
  margin-top: 30px;
}

.curriculo{
  margin: 0 auto;
  margin-top: 35px;
}

  .container{
    width: 350px;
  }
  .apresentaçao{
    width: 390px;
  }
  .typewriter{
    width: 300px;
  }
  .contatosfinal{
    margin-top: 100px;
  }
}
@media screen and (max-width:376px){

.apresentaçao{
  width: 358px;
}
.animaçao{
  width: 358px;
}
.sobre1{
  background: #ffffff09;
  border-radius: 25px;
  margin: 0 auto;
  width: 350px;
  height: 800px;
  backdrop-filter:blur(15px);
  box-shadow: 5px 3px 7px 1px rgb(0, 0, 0);}
  
  .sobre-tudo{
    margin-top: 0px;
    margin-left: 102px;
  }
    .Todosobre{
      width: 348px;
      height: 800px;
    }
    .sobre-decr{
      width: 300px;
      margin-top: 280px;
      margin-left: -219px;
      }
      .mostrador {
        margin-left: 60px;
      }
      .s1{margin-left: 4px;}

      .backwalpaper{
        width: 300px;
       
      }
      .coluna100{
        width: 290px;
        margin-left: -68px;
        }
        .slideh1{
          margin-left: 110px;
        }
      .experiencias{
        width: 340px;
      }
      .fotoexp{
        margin-left: 25px;
      }
      
      .contatosfinal{
        width: 300px;
      }
      .container{
        width: 300px;
      }
        
      
      .exp2{
      margin-right:-32px;
}
.animaçao{
  width: 300px;
}
.contatosfinal{
  width: 100px;
}
.container{
  width: 300px;
}
.contatos{
  width: 40%;
}
}
@media screen and (max-width:320px){

  body{
    width: 320px;
  }
.apresentaçao{
  width: 318px;
}

.menuzinho{
  width: 100%;
}
.typewriter{
 margin-left: 5px;
}
.primeira{
  font-size: 21px;
}
.animaçao{
  font-size: 32px;
  width: 280px;
}
.linkcomeço{
  margin-left: 10px;
  width: 110px;
}
.emailcomeço{
  margin-right: 20px;
  width: 110px;
}
.sobre1{
 
  width: 280px;
  height: 900px;
  margin-left: 10px;
}
.s1{

  width: 200px;
}
.sobre{
 
  width: 280px;
}
.sobre-animate{
  width: 200px;
}
.sobre-tudo{
  margin-left: 30px;
}
.mostrador{
  margin: 0 auto;
}
.Todosobre{
  width: 280px;
  float: left;
 
}
.sobre-decr{
  width: 250px;
}
.experiencias{
  width: 295px;
}
.exp2{
  width: 300px;
 margin-left: 19px;
}
.exp2 p {
  width: 300px;
  font-size: 19px;
  margin-right: 30px;
}
.academy{
  width: 300px ;
  margin-top: 30px;
  margin-right: 10px;
}
.curriculo{
  margin-right: 100px;
}
.backwalpaper{
  width: 280px;
}

.exp{
margin-left: -20px;
}


.contatosfinal{
  width: 300px;
}
.container{
  width: 270px;
}
}
